/* For mobile */

/* ELEMENTS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: floralwhite;
    height: 40%;
    line-height: 40%;
    text-decoration: none;
}

a:hover {
    color: #f7d1cd;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
}

footer {
    padding: 0.5rem;
    text-align: center;
}

section {
    padding: 1rem;
}

nav {
    align-items: center;
    font-size: large;
    justify-content: space-between;
    margin: 2%;
}

nav ul {
    width: 100%;
    word-spacing: 1.5rem;
}

nav li {
    border-radius: 3px;
    border-top: 0.3px solid #735d78;
    list-style-type: none;
    margin-bottom: 0.15rem;
    text-align: center;
    width: 100%;
}

nav a {
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

/* headers */
h1 {
    color: ghostwhite;
    font-size: 1.2rem;
    font-weight: 900;
    margin: 2%;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

h2 {
    font-size: 1.1rem;
    margin-top: 0%;
}

h3 {
    font-size: 1rem;
    margin: 1%;
    padding-top: 0.5rem;
}

h4 {
    color: #6D6875;
    font-size: 0.9rem;
    font-style: italic;
}


/* CLASSES */

/* background colors */
.bgc1 {
    background-color: #EEE2DF;
}

.bgc2 {
    background-color: #6D6875;
}

.bgc3 {
    background-color: whitesmoke;
}

/* images */
.headshot {
    border-radius: 1rem;
    float: left;
    margin-right: 2%;
    object-fit: cover;
    width: 8rem; 
}

.projectImg {
    border-radius: 10px;
    width: 90%;
}

.placeholder {
    align-items: center;
    border-radius: 1rem;
    margin-right: 2%;
    object-fit: cover;
    width: 8rem; 
}

/* boxes */
.projectBox {
    background-color: #EEE2DF;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 2, 4, 0.429) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    margin: 3%;
    padding: 0.5rem;
    text-align: center;
}

.contact ul {
    list-style-type: none;
}

.contact a {
    color: black;
}

.contact a:hover {
    color: #6D6875;
}

/* menu */
.menuWrap {
    left: 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.menuWrap .toggler {
    height: 4rem;
    left: 1;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 3rem;
    z-index: 2;
}

.menuWrap .hamburger {
    left: 1;
    padding: 1rem;
    position: absolute;
    top: 0;
    width: 4rem;
    z-index: 1;
}

.menuWrap .menu {
    display: none;
}

.menuWrap .toggler:checked ~ .menu {
    display: flex;
}


/* MEDIA QUARRIES */


/* for tablet */
@media screen and (min-width: 768px) {
    /* headers */
    h1 {
        font-size: 2rem;
        margin-top: 0%;
        padding-bottom: 0rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    /* menu */
    .menuWrap .hamburger {
        margin-top: 0.75%;
    }

    /* align image and bio */
    .wrapImgTxt {
        align-items: center;
        display: flex;
    }
    
    /* align four boxes */
    .wrapBoxes {
        align-items: stretch;
        display: flex;
    }

    
    .projectBox {
        margin: 1%;
        padding: 1rem;
    }

    /* images */
    .projectImg {
        border-radius: 5px;
        height: 40%;
    }

}

/* for desktop */
@media screen and (min-width: 1024px) {
    h1 {
        margin: 0.25%;
    }

    header ul {
        display: flex;
    }
    
    header ul li {
        border-color: transparent;
        box-shadow: none;
    }

    .menuWrap .hamburger {
        display: none;
    }

    .menuWrap .menu {
        display: flex;
    }

    /* images */
    .projectImg {
        width: 60%;
    }
    
    .projectBox {
        margin: 1%;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
}