/* Elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: #735d78;;
    text-decoration: none;
}

a:hover {
    color: #f7d1cd;

}

body {
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
}

section {
    background-color: #b392ac;
    border-radius: 4px;
    padding: 2rem;
    margin: 1.5%;
}

header {
    background-color: transparent;
    box-shadow: rgb(0 0 0 / 10%) 0 2px 20px 1px;
    left: 0;
    padding-bottom: 2.7rem;
    padding-top: 1.25rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    top: 0;
}

header h1 {
    color: #735d78;
    font-size: 1.9rem;
    font-weight: 900;
}

header nav {
    display: block;
    font-size: large;
    position: relative;
}

header nav ul {
    word-spacing: 1.5rem;
    position: absolute;
}

html {
    scroll-behavior: smooth;
}

main {
    margin: 1%;
}

/* classes */
.center {
    align-items: center;
    display: flex;
    justify-content: center;

}

/* media quarries */
@media screen and (max-width: 425)
*/